<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport"
		  content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>地表最强 - 南京峰耀网络科技有限公司</title>
	<meta name="keywords" content="南京峰耀网络科技有限公司">
	<meta name="description" content="南京峰耀网络科技有限公司成立于2015年，公司主要经营教育软件、多媒体技术、游戏开发等。">
	<link rel="stylesheet" href="//cdn.bootcss.com/normalize/5.0.0/normalize.min.css">
	<script src="//cdn.bootcss.com/zepto/1.2.0/zepto.min.js"></script>
	<script src="../../public/libs/zepto/touch.js"></script>
	<link rel="stylesheet" href="../../public/css/reservation/index.css">
</head>
<body>
	<header>预约</header>
	<article>
		<section>
			<div class="con">
				<i class="icon-back"></i>
				<div class="info">
					<span class="title">先生/女士您好：<span class="tdate">08/08/18:08</span></span>
					<span class="text">我想看<b>【京德大楼】</b>的房源，请帮我安排，地址是常德路319号。</span>
					<span class="date">看房时间：08/18</span>
				</div>
			</div>
			<span class="status">接单</span>
			<div class="del">删除</div>
		</section>
		<section>
			<div class="con">
				<i class="icon-back"></i>
				<div class="info">
					<span class="title">先生/女士您好：<span class="tdate">08/08/18:08</span></span>
					<span class="text">我想看<b>【京德大楼】</b>的房源，请帮我安排，地址是常德路319号。</span>
					<span class="date">看房时间：08/18</span>
				</div>
			</div>
			<span class="status active">已接单，待反馈</span>
			<div class="del">删除</div>
		</section>
		<section>
			<div class="con">
				<i class="icon-back"></i>
				<div class="info">
					<span class="title">先生/女士您好：<span class="tdate">08/08/18:08</span></span>
					<span class="text">我想看<b>【京德大楼】</b>的房源，请帮我安排，地址是常德路319号。</span>
					<span class="date">看房时间：08/18</span>
				</div>
			</div>
			<span class="status">接单</span>
			<div class="del">删除</div>
		</section>
		<section>
			<div class="con">
				<i class="icon-back"></i>
				<div class="info">
					<span class="title">先生/女士您好：<span class="tdate">08/08/18:08</span></span>
					<span class="text">我想看<b>【京德大楼】</b>的房源，请帮我安排，地址是常德路319号。</span>
					<span class="date">看房时间：08/18</span>
				</div>
			</div>
			<span class="status">接单</span>
			<div class="del">删除</div>
		</section>
		<section>
			<div class="con">
				<i class="icon-back"></i>
				<div class="info">
					<span class="title">先生/女士您好：<span class="tdate">08/08/18:08</span></span>
					<span class="text">我想看<b>【京德大楼】</b>的房源，请帮我安排，地址是常德路319号。</span>
					<span class="date">看房时间：08/18</span>
				</div>
			</div>
			<span class="status">接单</span>
			<div class="del">删除</div>
		</section>


	</article>
	<footer class="bottom-list">
		<div class="bottom-column" onclick="location='../index/index.html'">
			<img src="../../public/img/msg/bottom_nor_icon04@2x.png">
			<p>首页</p>
		</div>
		<div class="bottom-column">
			<img src="../../public/img/msg/bottom_press_icon03@2x.png" alt="">
			<p>预约</p >
		</div>
		<div class="bottom-columncon">
			<img class="add-img" src="../../public/img/msg/bottom_icon05@2x.png" alt="">
		</div>
		<div class="bottom-column" onclick="location='../msg/msg_de.html'">
			<img src="../../public/img/msg/bottom_nor_icon02@2x.png" alt="">
			<p class="active">信息</p >
		</div>
		<div class="bottom-column" onclick="location='../info/info_dengluhou.html'">
			<img src="../../public/img/msg/bottom_nor_icon01@2x.png" alt="">
			<p>我</p >
		</div>
	</footer>
	<div class="publish">
		<div class="con">
			<div class="left" onclick="location='../publish/demand.html'"><span>发布需求</span></div>
			<div class="right" onclick="location='../publish/house.html'"><span>发布房源</span></div>
		</div>
		<div class="bottom"></div>
	</div>
</body>
<script src="../../public/js/reservation/index.js"></script>
</html>