body
  background-color #efefef
  font-family SimHei
.header
  height 40px
  background-color #fff
  line-height 40px
  .icon-back
    position absolute
    top 2px
    left 0
    display inline-block
    width 35px
    height 35px
    background url("../../img/nav_back_icon@2x.png") no-repeat center
    background-size 12px 18px
  .header-title
    display inline-block
    width 100%
    text-align center
.fangyuan
  margin-top 10px
  .block_box
    display flex
    padding 15px
    background-color #fff
    margin-top 5px
    .img_box
      background url("../../img/index/content_img_list@2x.png") no-repeat center
      flex 3
    .info_box
      flex 5
      margin-left 10px
      .info-title
        position relative
        .info_pink
          color #878787
          font-size 12px
          display inline-block
          position absolute
          right 0
          top 4px
          &.pink_down
            background url("../../img/index/collect_icon_press@2x.png") no-repeat center
            background-size 50%
      .info-address
        color #878787
        font-size 14px
      .info-tag_box
        width 50px
        padding 3px 5px
        color #ea5404
        font-size 12px
        border 1px solid #ea5404
        border-radius 5px
      .info-price
        color #878787
        font-size 12px
        position relative
        .info_em
          color #ea5404
          font-size 14px
        .info_yj
          color #878787
          font-size 12px
          position: absolute
          right 0
