body
  background-color #efefef
  font-family SimHei
.header
  height 40px
  background-color #fff
  line-height 40px
  .icon-back
    position absolute
    top 10
    left 0
    display inline-block
    width 35px
    height 35px
    background url("../../img/nav_back_icon@2x.png") no-repeat center
    background-size 12px 18px
  .header-title
    display inline-block
    width 100%
    text-align center
.info_content
  position relative
  .info_img
    width 74px
    height 74px
    background url("../../img/info/content_img_logo@2x.png") no-repeat center
    background-size 100%
    margin 0 auto
    margin-top 12%
  .info_imgs
    width 70px
    height 19px
    background url("../../img/info/content_text_logo@2x.png") no-repeat center
    background-size 100%
    margin-top 10px
    margin-left 35%
  .imgs_text
    color #b4b4b4
    position absolute
    top 80%
    left 58%
.info_in
  margin-top 90px
  .info_txt1
    height 40px
    line-height 40px
    padding 0 20px
    background-color #fff
    margin-top 10px
    position relative
    .info_text
      color #b4b4b4
      font-size 12px
      position absolute
      right 10%
    &:after
      content ''
      position absolute
      top 35%
      right 15px
      dispaly block
      width 16px
      height 30px
      margin-top -8px
      background url("../../img/info/content_list_right_icon@2x.png") no-repeat right center
      background-size 50%
  .info_txt2
    height 40px
    line-height 40px
    padding 0 20px
    background-color #fff
    margin-top 10px
    position relative
    &:after
      content ''
      position absolute
      top 35%
      right 15px
      dispaly block
      width 16px
      height 30px
      margin-top -8px
      background url("../../img/info/content_list_right_icon@2x.png") no-repeat right center
      background-size 50%