@import "../login/head.styl"
body
  font-family SimHei
.info_box
  padding 20px 15px
  background-color #fff
  .info_img
    width 65px
    height 65px
    margin 0 auto
    background url("../../img/info/log in_user-head@2x.png") no-repeat center
    border-radius 50%
  .info_name
    text-align center
    line-height 24px
    font-size 1.2rem
  .info_desc
    text-align center
    line-height 18px
  .info_edit
    width 6em
    margin 0 auto
    padding 6px 14px
    border 1px solid #ffa66b
    border-radius 5px
    color #ffa66b
    line-height 30px
    margin-top 20px

.info-cells
  margin-top 20px
  background-color #fff

.info-cell
  display flex
  padding 0 15px
  line-height 40px
  .info-name
    flex 3
    font-size .875em
  .info-content
    flex 4
    text-indent 10px

.image-cell
  display flex
  .image-block
    flex 1
    height 60px
    border 1px solid #ccc