body
  background-color #efefef
  font-family SimHei
.header
  height 40px
  background-color #fff
  line-height 40px
  .icon-back
    position absolute
    top 10
    left 0
    display inline-block
    width 35px
    height 35px
    background url("../../img/nav_back_icon@2x.png") no-repeat center
    background-size 12px 18px
  .header-title
    display inline-block
    width 100%
    text-align center
.info_in
  margin-top 10px
  .link_cell_one
    height 40px
    line-height 40px
    padding 0 20px
    background-color #fff
    margin-top 10px
    position relative
    #div1
      position absolute
      right 15px
      top 10px
      width 50px
      height 30px
      border-radius 50px
    #div2
      position absolute
      width 30px
      height 30px
      border-radius 48px
      background white
      box-shadow 0 2px 4px rgba(0,0,0,0.4)
    .link-off
      background #ea5404
    .link-on
      background #ea5404
    .close1
      background rgba(200,200,200,0.4)
      border 1px solid rgba(0,0,0,0.15)
      border-left transparent
    .close2
      right 0
      top 0
  .info_txt2
    height 40px
    line-height 40px
    padding 0 20px
    background-color #fff
    margin-top 10px
    position relative
    &:after
      content ''
      position absolute
      top 35%
      right 15px
      dispaly block
      width 16px
      height 30px
      margin-top -8px
      background url("../../img/info/content_list_right_icon@2x.png") no-repeat right center
      background-size 50%
  .info_txt3
    height 40px
    line-height 40px
    padding 0 20px
    background-color #fff
    margin-top 10px
    position relative
    &:after
      content ''
      position absolute
      top 35%
      right 15px
      dispaly block
      width 16px
      height 30px
      margin-top -8px
      background url("../../img/info/content_list_right_icon@2x.png") no-repeat right center
      background-size 50%
    .info_text
      color #b4b4b4
      font-size 12px
      position absolute
      right 10%
  .info_txt4
    height 40px
    line-height 40px
    text-align center
    background-color #fff
    margin-top 10px
.hid
  display none
  position fixed
  top 0
  bottom 0
  width 100%
  background rgba(0,0,0,0.4)
  .box
    width 72%
    height 110px
    background #ffffff
    border-radius 10px
    position absolute
    left 14%
    top 50%
    margin-top -55px
    .text
      display inline-block
      width 100%
      height 66px
      line-height 66px
      text-align center
      border-bottom 1px solid #d6d7dc
    .btn
      color #ea5404
      height 40px
      line-height 40px
      width 48%
      border none
      outline none
      border-radius 5px 0 0 5px
      background-color #ffffff
    .btn1
      color #999
      border-right 1px solid #d6d6dc
