body
  background-color #efefef
  font-family SimHei
.header
  height 40px
  background-color #fff
  line-height 40px
  .icon-back
    position absolute
    top 0
    left 0
    display inline-block
    width 35px
    height 35px
    background url("../../img/nav_back_icon@2x.png") no-repeat center
    background-size 12px 18px
  .header-title
    display inline-block
    width 100%
    text-align center
.s_box
  background-color #fff
  color #646464
  display flex
  margin-top 10px
  .s_left
    flex 1
    display inline-block
    line-height 35px
    text-align center
  .s_right
    flex 1
    position relative
    .s_cont
      line-height 35px
      color #efefef
    .right_txt
      line-height 35px
      color #ea5404
      padding-left 30%
    &:after
      content ''
      position absolute
      left 8px
      right 0
      bottom 0
      z-index 5
      display block
      height 1px
      width 95%
      background-color red
.block_box
  display flex
  padding 15px
  background-color #fff
  margin-top 20px
  .img_box
    background url("../../img/index/content_img_list@2x.png") no-repeat center
    flex 3
  .info_box
    flex 5
    margin-left 10px
    .info-title
      position relative
      .info_pink
        width 28px
        height 26px
        background url("../../img/index/collect_icon_press@2x.png") no-repeat center
        background-size 50%
        display inline-block
        position absolute
        right 0
        top -5px
    .info-address
      color #878787
      font-size 14px
    .info-tag_box
      width 50px
      padding 3px 5px
      color #ea5404
      font-size 12px
      border 1px solid #ea5404
      border-radius 5px
    .info-price
      color #878787
      font-size 12px
      position relative
      .info_em
        color #ea5404
        font-size 14px
      .info_yj
        color #878787
        font-size 12px
        position: absolute
        right 0
.block_box2
  display flex
  padding 15px
  background-color #fff
  margin-top 10px
  .img_box
    background url("../../img/index/content_img_list@2x.png") no-repeat center
    flex 3
  .info_box
    flex 5
    margin-left 10px
    .info-title
      position relative
      .info_pink
        width 28px
        height 26px
        background url("../../img/index/collect_icon_press@2x.png") no-repeat center
        background-size 50%
        display inline-block
        position absolute
        right 0
        top -5px
    .info-address
      color #878787
      font-size 14px
    .info-tag_box
      width 50px
      padding 3px 5px
      color #ea5404
      font-size 12px
      border 1px solid #ea5404
      border-radius 5px
    .info-price
      color #878787
      font-size 12px
      position relative
      .info_em
        color #ea5404
        font-size 14px
      .info_yj
        color #878787
        font-size 12px
        position: absolute
        right 0
