<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport"
		  content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>地表最强 - 南京峰耀网络科技有限公司</title>
	<meta name="keywords" content="南京峰耀网络科技有限公司">
	<meta name="description" content="南京峰耀网络科技有限公司成立于2015年，公司主要经营教育软件、多媒体技术、游戏开发等。">
	<link rel="stylesheet" href="//cdn.bootcss.com/normalize/5.0.0/normalize.min.css">
	<script src="//cdn.bootcss.com/zepto/1.2.0/zepto.min.js"></script>
	<script src="../../public/libs/zepto/touch.js"></script>
	<link rel="stylesheet" href="../../public/css/publish/demand.css">
</head>
<body>
	<header>
		<div class="con">
			<span class="cancel">取消</span>发布需求<span class="publish">发布</span>
		</div>
	</header>
	<article>
		<input type="text" placeholder="周杰伦">
		<input type="text" placeholder="18952436245">
		<textarea name="" id="" cols="30" rows="10" placeholder="描述一下您的需求，比如黄埔100-200㎡，5-6元/㎡/天，环境好点，底层，临近地铁"></textarea>
	</article>
	<div class="hid">
		<div class="box">
			<span class="text">你确定要退出此次发布？</span>
			<button class="btn btn1">取消</button>
			<button class="btn btn2">确认</button>
		</div>
	</div>
	<div class="hid hid2">
		<div class="box">
			<span class="text">需求发布成功，请稍后</span>
			<button class="btn confirm">确认</button>
		</div>
	</div>
</body>
<script src="../../public/js/reservation/demand.js"></script>
</html>