<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport"
		  content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>项目名 - 公司名</title>
	<link rel="stylesheet" href="//cdn.bootcss.com/normalize/5.0.0/normalize.min.css">
	<link rel="stylesheet" href="../../public/css/publish/xinzengloupan.css">
</head>
<body>
	<header class="header">
		<i class="icon-back"></i>
		<span class="header_title">新增楼盘</span>
	</header>
	<div class="input_box">
		<input type="text" class="int" placeholder="请输入您想要增加的楼盘">
		<input type="text" class="int" placeholder="输入楼盘的地址">
	</div>
	<div class="input_box2"><span class="int1">确定提交</span></div>
</body>
</html>