$orange = #ea5404

*
  outline none
body
  background-color #efefef
  font-family SimHei
.header
  height 35px
  background-color #fff
  line-height 35px
  .icon-back
    position absolute
    top 0
    left 0
    display inline-block
    width 35px
    height 35px
    background url("../../img/nav_back_icon@2x.png") no-repeat center
    background-size 12px 18px
  .header_title
    display inline-block
    width 100%
    color $orange
    text-align center
.xx
  color #b4b4b4
  font-size 12px
  line-height 10px
  padding 5px
.content
  width 100%
  background-color #ffffff
  padding 20px 0
  .content_img
    width 100px
    height 100px
    border-radius 50%
    background-color #878787
    margin 0 auto
    text-align center
    position relative
    .img_text
      line-height 100px
      color #fff
    .img_ipt
      display block
      width 100%
      height 100%
      position absolute
      left 0
      top 30%
      opacity 0

  .content_input
    width 300px
    margin 0 auto
    background-color #ffffff
    .cont
      margin-bottom 10px
    .content_int
      width 280px
      height 20px
      border-radius 5px
      background-color #efeff4
      border none
      margin-top 5px
      padding 10px
  .content_box
    width 150px
    height 100px
    line-height 100px
    margin 0 auto
    border-radius 5px
    background-color #878787
    text-align center
    position relative
    .box_text
      color #ffffff
      line-height 100px
    .img_ipt1
      display block
      width 100%
      height 100%
      position absolute
      left 0
      top 30%
      opacity 0
.xxx
  color #b4b4b4
  font-size 12px
  line-height 10px
  padding 5px
.content_two
  width 100%
  padding 10px 0
  background-color #ffffff
  .content_box2
    width 150px
    height 100px
    line-height 100px
    margin 0 auto
    border-radius 5px
    background-color #878787
    text-align center
    position relative
    .box_text2
      color #ffffff
      line-height 100px
    .img_ipt2
      display block
      width 100%
      height 100%
      position absolute
      left 0
      top 30%
      opacity 0
.content_footer
  width 350px
  height 40px
  margin 0 auto
  .content_foot
    width 350px
    height 40px
    border-radius 5px
    margin-top 20px
    background-color #878787
    color #ffffff
    text-align center
    line-height 40px
    &.active
      background-color $orange

