<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport"
		  content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>地表最强 - 南京锋耀达网络科技有限公司</title>
	<meta name="keywords" content="南京锋耀达网络科技有限公司">
	<meta name="description" content="南京锋耀达网络科技有限公司成立于2015年，公司主要经营教育软件、多媒体技术、游戏开发等。">
	<link rel="stylesheet" href="//cdn.bootcss.com/normalize/5.0.0/normalize.min.css">
	<script src="//cdn.bootcss.com/zepto/1.2.0/zepto.min.js"></script>
	<script src="../../public/libs/zepto/touch.js"></script>
	<link rel="stylesheet" href="../../public/css/index/index.css">
</head>
<body>
	<header id="top">
		<ul class="slider">
			<li><img src="../../public/img/index/banner_img@2x.png" alt="1"></li>
			<li><img src="../../public/img/index/22_01-02.png" alt="2"></li>
			<li><img src="../../public/img/index/banner_img@2x.png" alt="3"></li>
			<li><img src="../../public/img/index/22_02.png" alt="4"></li>
		</ul>
		<ul class="index">
			<li class="active"></li>
			<li></li>
			<li></li>
			<li></li>
		</ul>
		<div class="title">
			<span class="city">上海</span><span class="titles">地表最强</span>
		</div>
		<div class="search">挑好房，来地表最强</div>
	</header>

	<article>
		<ul class="query">
			<li>区域</li>
			<li>面积</li>
			<li>单价</li>
			<li>更多</li>
			<li id="last"></li>
		</ul>
		<div class="list">
			<i class="icon-back"></i>
			<div class="info">
				<span class="title">东方金融中心<i class="icon-lo active"></i></span>
				<span class="add">浦东-八佰伴</span><br>
				<button>商务中心</button><br>
				<span class="info-btn"><span class="price">￥7</span><span> 元/平米/天起</span><span class="date">佣金：1个月</span></span>
			</div>

		</div>
		<div class="list">
			<i class="icon-back"></i>
			<div class="info">
				<span class="title">东方金融中心<i class="icon-lo"></i></span>
				<span class="add">浦东-八佰伴</span><br>
				<button>商务中心</button><br>
				<span class="info-btn"><span class="price">￥7</span><span> 元/平米/天起</span><span class="date">佣金：1个月</span></span>
			</div>
		</div>
		<div class="list">
			<i class="icon-back"></i>
			<div class="info">
				<span class="title">东方金融中心<i class="icon-lo"></i></span>
				<span class="add">浦东-八佰伴</span><br>
				<button>商务中心</button><br>
				<span class="info-btn"><span class="price">￥7</span><span> 元/平米/天起</span><span class="date">佣金：1个月</span></span>
			</div>
		</div>
		<div class="list">
			<i class="icon-back"></i>
			<div class="info">
				<span class="title">东方金融中心<i class="icon-lo"></i></span>
				<span class="add">浦东-八佰伴</span><br>
				<button>商务中心</button><br>
				<span class="info-btn"><span class="price">￥7</span><span> 元/平米/天起</span><span class="date">佣金：1个月</span></span>
			</div>
		</div>
	</article>
	<footer class="bottom-list">
		<div class="bottom-column">
			<img src="../../public/img/msg/bottom_press_icon04@2x.png">
			<p>首页</p>
		</div>
		<div class="bottom-column" onclick="location='../reservation/index.html'">
			<img src="../../public/img/msg/bottom_nor_icon03@2x.png" alt="">
			<p>预约</p >
		</div>
		<div class="bottom-columncon">
			<img class="add-img" src="../../public/img/msg/bottom_icon05@2x.png" alt="">
		</div>
		<div class="bottom-column" onclick="location='../msg/msg_de.html'">
			<img src="../../public/img/msg/bottom_nor_icon02@2x.png" alt="">
			<p class="active">信息</p >
		</div>
		<div class="bottom-column" onclick="location='../info/info_dengluhou.html'">
			<img src="../../public/img/msg/bottom_nor_icon01@2x.png" alt="">
			<p>我</p >
		</div>
	</footer>
	<div class="publish">
		<div class="con">
			<div class="left" onclick="location='../publish/demand.html'"><span>发布需求</span></div>
			<div class="right" onclick="location='../publish/house.html'"><span>发布房源</span></div>
		</div>
		<div class="bottom"></div>
	</div>
	<a href="#top"><i class="icon-top"></i></a>
	<div class="search-box">
		<div class="head"><input type="text" placeholder="挑好房，来地表最强" class="search1"><span class="cancel">取消</span></div>
		<div class="menu"><span>最近搜索</span><span class="clean">清除</span></div>
		<ul>
			<li>陆家嘴</li>
			<li>创业园</li>
		</ul>
	</div>
	<div class="city-box">
		<div class="head"><span class="close">关闭</span>选择城市</div>
		<ul>
			<li>北京</li>
			<li>上海</li>
			<li>广州</li>
		</ul>
	</div>
	<div class="query-box">
		<div class="top">
			<span class="city2">上海</span>
			<div class="ss"><input type="text" placeholder="挑好房，来地表最强" class="search1"></div>
		</div>
		<ul class="query-title">
			<li>区域</li>
			<li>面积</li>
			<li>单价</li>
			<li>更多</li>
			<li id="lasts"></li>
		</ul>
		<div class="content">
			<div class="region">
				<ul class="left">
					<li>全部
						<ul class="right">
							<li class="active2">全部</li>
						</ul>
					</li>
					<li>闵行
						<ul class="right">
							<li class="active2">全部</li>
						</ul>
					</li>
					<li class="active">浦东
						<ul class="right actives">
							<li class="active2">全部</li>
							<li>八佰伴</li>
							<li>川沙</li>
							<li>花木</li>
							<li>金桥</li>
						</ul>
					</li>
					<li>宝山
						<ul class="right">
							<li class="active2">全部</li>
						</ul>
					</li>
					<li>嘉定
						<ul class="right">
							<li class="active2">全部</li>
						</ul>
					</li>
				</ul>

			</div>
			<div class="area">
				<ul>
					<li class="active">全部</li>
					<li>100㎡以下</li>
					<li>100-200㎡</li>
					<li>200-300㎡</li>
					<li>300-500㎡</li>
					<li>500-1000㎡</li>
					<li>1000㎡以上</li>
					<li class="last"><input type="text" class="t1">  ——  <input type="text" class="t2"><button class="confirm">确定</button></li>
				</ul>
			</div>
			<div class="price">
				<ul>
					<li class="active">全部</li>
					<li>3元/㎡/天以下</li>
					<li>3-4元/㎡/天</li>
					<li>4-5元/㎡/天</li>
					<li>5-7元/㎡/天</li>
					<li>7-9元/㎡/天</li>
					<li>9-12元/㎡/天</li>
					<li>12元/㎡/天以上</li>
					<li><input type="text" class="t1">  ——  <input type="text" class="t2"><button class="confirm">确定</button></li>
				</ul>
			</div>
			<div class="many">
				<ul class="left">
					<li  class="active">地铁
						<ul class="right actives">
							<li class="active2">全部</li>
							<li>1号线</li>
							<li>2号线</li>
							<li>3号线</li>
							<li>4号线</li>
							<li>5号线</li>
							<li>6号线</li>
							<li>7号线</li>
							<li>8号线</li>
							<li>9号线</li>
						</ul>
					</li>
					<li>房型
						<ul class="right">
							<li class="active2">全部</li>
							<li>众创空间</li>
							<li>商务中心</li>
							<li>创意产业园</li>
							<li>写字楼</li>
							<li>工位</li>
							<li>整栋</li>
							<li>整层</li>
						</ul>
					</li>
					<li>装修
						<ul class="right">
							<li class="active2">全部</li>
							<li>豪装</li>
							<li>精装</li>
							<li>简装</li>
							<li>标准支付</li>
							<li>毛坯</li>
						</ul>
					</li>
				</ul>
			</div>
		</div>
	</div>
</body>
<script src="../../public/js/index/index.js"></script>
</html>