<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1,
    maximum-scale=1,minimum-scale=1,user-scalable=no">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<title>地表最强 - 南京锋耀达网络科技有限公司</title>
	<meta name="keywords" content="南京锋耀达网络科技有限公司">
	<meta name="description" content="南京锋耀达网络科技有限公司成立于2015年，公司主要经营教育软件、多媒体技术、游戏开发等。">
	<link rel="stylesheet" href="//cdn.bootcss.com/normalize/5.0.0/normalize.min.css">
	<link rel="stylesheet" href="../../public/css/info/info_setper.css">
</head>
<body>
	<header class="header">
		<i class="icon-back" onclick="location='info_dengluhou.html'"></i>
		<span class="header-title">个人资料</span>
	</header>
	<div class="info_in">
		<div class="info_txt">
			<span class="info_mail">头像</span><span class="info_photo"></span>
		</div>
		<div class="info_txt">
			<span class="info_mail">简介</span><span class="info_text">以前喜欢一个人，现在喜欢一个人</span></span>
		</div>
		<div class="info_txt">
			<span class="info_mail">所属公司</span><span class="info_text">大梦地产</span></span>
		</div>
		<div class="info_txt">
			<span class="info_mail">擅长商圈</span><span class="info_text">浦东-八佰伴</span></span>
		</div>
		<div class="info_footer">
			<div class="info_foot"><input class="img_ipt1" type="file" ></div>
			<div class="foot_txt">名片正面</div>
		</div>
		<div class="info_footer">
			<div class="info_foot"><input class="img_ipt1" type="file" ></div>
			<div class="foot_txt">全国经纪人证书</div>
		</div>
	</div>
</body>
</html>