<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1,
    maximum-scale=1,minimum-scale=1,user-scalable=no">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<title>Title</title>
	<link rel="stylesheet" href="//cdn.bootcss.com/normalize/5.0.0/normalize.min.css">
	<link rel="stylesheet" href="../../public/css/info/shoucangxuqiu.css">
</head>
<body>
	<header class="header">
		<i class="icon-back" onclick="location='info_dengluhou.html'"></i>
		<span class="header-title">收藏</span>
	</header>
	<div class="s_box">
		<div class="s_left"><span class="left_txt">需求</span></div>
		<div class="s_right" onclick="location='info_shoucang.html'"><span class="s_cont">丨</span><span class="right_txt">房源</span></div>
	</div>
	<article class="demand_cells">
		<section class="demand_cell">
			<header class="demand-title">
				<span class="d-t-name">一个租房要求</span>
				<i class="d-t-tag">租户</i>
			</header>
			<p class="demand-info">
				租房要求租房要求租房要求租房要求租房要求租房要求租房要求租房要求
			</p>
			<footer class="demand-footer">
				<em class="text-time"></em>
				<span class="btn-detail">了解详情</span>
				<em class="text-time">08/04/12:12</em>
			</footer>
		</section>
	</article>
	<article class="demand_cells">
		<section class="demand_cell">
			<header class="demand-title">
				<span class="d-t-name">一个租房要求</span>
				<i class="d-t-tag1">经纪人</i>
			</header>
			<p class="demand-info">
				租房要求租房要求租房要求租房要求租房要求租房要求租房要求租房要求
			</p>
			<footer class="demand-footer">
				<em class="text-time"></em>
				<span class="btn-detail">了解详情</span>
				<em class="text-time">08/04/12:12</em>
			</footer>
		</section>
	</article>
</body>
</html>