<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1,
    maximum-scale=1,minimum-scale=1,user-scalable=no">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<title>Title</title>
	<link rel="stylesheet" href="//cdn.bootcss.com/normalize/5.0.0/normalize.min.css">
	<link rel="stylesheet" href="../../public/css/info/info_detail.css">
</head>
<body>
	<header class="header">
		<i class="icon-back"></i>
		<span class="header-title">个人资料</span>
	</header>
	<div class="info_box">
		<div class="info_img"></div>
		<div class="info_name">我是用户名</div>
		<div class="info_desc">我是用户名的个性签名</div>
		<div class="info_edit" onclick="location='info_bianji.html'">编辑个人资料</div>
	</div>
	<div class="info_in">
		<div class="info_txt">
			<span class="info_mail">企业邮箱/公司总机</span><span class="info_text">1169322125@qq.com</span>
		</div>
		<div class="info_txt">
			<span class="info_mail">联系人</span><span class="info_text">小明</span>
		</div>
		<div class="info_txt">
			<span class="info_mail">联系方式</span><span class="info_text">110120119</span>
		</div>
		<div class="info_txt">
			<span class="info_mail">微信号码</span><span class="info_text">110120119</span>
		</div>
		<div class="info_footer">
			<div class="info_foot"></div>
			<div class="foot_txt">二维码</div>
		</div>
		<div class="info_footer">
			<div class="info_foot"></div>
			<div class="foot_txt">营业执照</div>
		</div>
		<div class="info_footer">
			<div class="info_foot"></div>
			<div class="foot_txt">运营/租赁协议</div>
		</div>
	</div>
</body>
</html>