<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1,
    maximum-scale=1,minimum-scale=1,user-scalable=no">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<title>Title</title>
	<link rel="stylesheet" href="//cdn.bootcss.com/normalize/5.0.0/normalize.min.css">
	<link rel="stylesheet" href="../../public/css/info/info_index.css">
</head>
<body>
	<header class="header">
		<span class="header-title">我</span>
		<i class="icon-back"></i>
	</header>
	<div class="login_box">
		<div class="login_img"></div>
		<div class="login_con" onclick="location='../login/login.html'">点击登录/注册</div>
	</div>
	<div class="s_box">
		<div class="s_left"><span class="s_text">0</span><span class="s_txt">收藏</span></div>
		<div class="s_cont"><span>丨</span></div>
		<div class="s_right"><span class="s_text">0</span><span class="s_txt">积分</span></div>
	</div>
	<div class="link_cell">
		<span>我发布的需求</span>
	</div>
	<div class="link_cell1">
		<span>我发布的房源</span>
	</div>
	<div class="link_cell2">
		<span>我预约的需求</span>
	</div>
	<div class="link_cell3">
		<span>历史交易</span>
	</div>
	<div class="link_cell4">
		<span>过期房源</span>
	</div>
	<footer class="bottom-list">
		<div class="bottom-column">
			<img src="../../public/img/msg/bottom_nor_icon04@2x.png">
			<p>首页</p >
		</div>
		<div class="bottom-column">
			<img src="../../public/img/msg/bottom_nor_icon03@2x.png" alt="">
			<p>预约</p >
		</div>
		<div class="bottom-column">
			<img class="add-img" src="../../public/img/msg/bottom_icon05@2x.png" alt="">
		</div>
		<div class="bottom-column">
			<img src="../../public/img/msg/bottom_press_icon02@2x.png" alt="">
			<p class="active">信息</p >
		</div>
		<div class="bottom-column">
			<img src="../../public/img/msg/bottom_nor_icon01@2x.png" alt="">
			<p>我</p >
		</div>
	</footer>
</body>
</html>