<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1,
    maximum-scale=1,minimum-scale=1,user-scalable=no">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<title>地表最强 - 南京锋耀达网络科技有限公司</title>
	<meta name="keywords" content="南京锋耀达网络科技有限公司">
	<meta name="description" content="南京锋耀达网络科技有限公司成立于2015年，公司主要经营教育软件、多媒体技术、游戏开发等。">
	<link rel="stylesheet" href="//cdn.bootcss.com/normalize/5.0.0/normalize.min.css">
	<link rel="stylesheet" href="../../public/css/info/info_shezhi.css">
</head>
<body>
	<header class="header">
		<i class="icon-back" onclick="location='info_dengluhou.html'"></i>
		<span class="header-title">设置</span>
	</header>
	<div class="info_in">
		<div class="link_cell_one">接收需求
			<div id="div1" class="link-off">
				<div id="div2" class="link-on">
				</div>
			</div>
		</div>
		<div class="info_txt2" onclick="location='info_guanyu.html'">
			<span>关于</span>
		</div>
		<div class="info_txt3" id="caches">
			<span>清除缓存</span><span class="info_text">7.02M</span>
		</div>
		<div class="info_txt4"><span>退出登录</span></div>

		<div class="hid">
			<div class="box">
				<span class="text">你确定要清理缓存么？</span>
				<button class="btn btn1">取消</button>
				<button class="btn btn2">确认</button>
			</div>
		</div>
		<div class="hid">
			<div class="box">
				<span class="text">你确定要退出登录么？</span>
				<button class="btn btn1">取消</button>
				<button class="btn btn2">确认</button>
			</div>
		</div>
	</div>
</body>
<script src="../../public/js/info_shezhi.js"></script>
</html>