<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1,
    maximum-scale=1,minimum-scale=1,user-scalable=no">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<title>地表最强 - 南京锋耀达网络科技有限公司</title>
	<meta name="keywords" content="南京锋耀达网络科技有限公司">
	<meta name="description" content="南京锋耀达网络科技有限公司成立于2015年，公司主要经营教育软件、多媒体技术、游戏开发等。">
	<link rel="stylesheet" href="//cdn.bootcss.com/normalize/5.0.0/normalize.min.css">
	<link rel="stylesheet" href="../../public/css/info/info_guanyu.css">
</head>
<body>
	<header class="header">
		<i class="icon-back" onclick="location='info_shezhi.html'"></i>
		<span class="header-title">关于</span>
	</header>
	<div class="info_content">
		<div class="info_img"></div>
		<div class="info_imgs"></div>
		<span class="imgs_text">v1.0.0</span>
	</div>
	<div class="info_in">
		<div class="info_txt1">
			<span>电话</span><span class="info_text">021-119110120</span>
		</div>
		<div class="info_txt2">
			<span>服务条款</span>
		</div>
	</div>
</body>
</html>