<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1,
    maximum-scale=1,minimum-scale=1,user-scalable=no">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<title>地表最强 - 南京锋耀达网络科技有限公司</title>
	<meta name="keywords" content="南京锋耀达网络科技有限公司">
	<meta name="description" content="南京锋耀达网络科技有限公司成立于2015年，公司主要经营教育软件、多媒体技术、游戏开发等。">
	<link rel="stylesheet" href="//cdn.bootcss.com/normalize/5.0.0/normalize.min.css">
	<link rel="stylesheet" href="../../public/css/info/lishijiaoyi.css">
</head>
<body>
	<header class="header">
		<i class="icon-back" onclick="location='info_dengluhou.html'"></i>
		<span class="header-title">历史交易</span>
	</header>
	<article class="fangyuan">
		<section class="block_box">
			<div class="img_box"></div>
			<div class="info_box">
				<div class="info-title">东方金融中心<div class="info_pink">08/07</div></div>
				<div class="info-address">浦东-八佰伴</div>
				<div class="info-tag_box"><span>商务中心</span></div>
				<div class="info-price"><span><span class="info_em">&yen;7</span>&nbsp;元/平米/天起</span><span class="info_yj">佣金：1个月</span></div>
			</div>
		</section>
		<section class="block_box">
			<div class="img_box"></div>
			<div class="info_box">
				<div class="info-title">东方金融中心<div class="info_pink">08/07</div></div>
				<div class="info-address">浦东-八佰伴</div>
				<div class="info-tag_box"><span>商务中心</span></div>
				<div class="info-price"><span><span class="info_em">&yen;7</span>&nbsp;元/平米/天起</span><span class="info_yj">佣金：1个月</span></div>
			</div>
		</section>
	</article>
</body>
</html>