<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1,
    maximum-scale=1,minimum-scale=1,user-scalable=no">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<title>地表最强 - 南京峰耀网络科技有限公司</title>
	<meta name="keywords" content="南京峰耀网络科技有限公司">
	<meta name="description" content="南京峰耀网络科技有限公司成立于2015年，公司主要经营教育软件、多媒体技术、游戏开发等。">
	<link rel="stylesheet" href="//cdn.bootcss.com/normalize/5.0.0/normalize.min.css">
	<link rel="stylesheet" href="../../public/css/info/dengluhou.css">
</head>
<body>
	<header class="header">
		<span class="header-title">我</span>
		<i class="icon-back" onclick="location='info_shezhi.html'"></i>
	</header>
	<div class="login_box">
		<div class="login_img"><input class="img_ipt" type="file"></div>
		<span class="login_con" onclick="location='info_setper.html'">呆到自然便成傻</span>
		<div class="login_bj" onclick="location='info_bianji.html'">
			<span class="bj_text">修改资料</span>
			<div class="bj_img"></div>
		</div>
	</div>
	<div class="s_box">
		<div class="s_left" onclick="location='info_shoucangxuqiu.html'"><span class="s_text">64</span><span class="s_txt">收藏</span></div>
		<div class="s_cont"><span>丨</span></div>
		<div class="s_right"><span class="s_text">624</span><span class="s_txt">积分</span></div>
	</div>
	<div class="link_cell" onclick="location='info_xuqiu.html'">
		<span>我发布的需求</span>
	</div>
	<div class="link_cell1" onclick="location='info_fabufangyuan.html'">
		<span>我发布的房源</span>
	</div>
	<div class="link_cell2" onclick="location='info_yuyuefangyuan.html'">
		<span>我预约的房源</span>
	</div>
	<div class="link_cell3" onclick="location='info_lishijiaoyi.html'">
		<span>历史交易</span>
	</div>
	<div class="link_cell4" onclick="location='info_guoqifangyuan.html'">
		<span>过期房源</span>
	</div>
	<footer class="bottom-list">
		<div class="bottom-column" onclick="location='../index/index.html'">
			<img src="../../public/img/msg/bottom_nor_icon04@2x.png">
			<p>首页</p >
		</div>
		<div class="bottom-column" onclick="location='../reservation/index.html'">
			<img src="../../public/img/msg/bottom_nor_icon03@2x.png" alt="">
			<p>预约</p >
		</div>
		<div class="bottom-column">
			<img class="add-img" src="../../public/img/msg/bottom_icon05@2x.png" alt="">
		</div>
		<div class="bottom-column" onclick="location='../msg/msg_de.html'">
			<img src="../../public/img/msg/bottom_nor_icon02@2x.png" alt="">
			<p class="active">信息</p >
		</div>
		<div class="bottom-column">
			<img src="../../public/img/msg/bottom_press_icon01@2x.png" alt="">
			<p>我</p >
		</div>
	</footer>
</body>
</html>