<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport"
		  content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>地表最强 - 南京锋耀达网络科技有限公司</title>
	<meta name="keywords" content="南京锋耀达网络科技有限公司">
	<meta name="description" content="南京锋耀达网络科技有限公司成立于2015年，公司主要经营教育软件、多媒体技术、游戏开发等。">
	<link rel="stylesheet" href="//cdn.bootcss.com/normalize/5.0.0/normalize.min.css">
	<link rel="stylesheet" href="../../public/css/login/jingjiren.css">
</head>
<body>
	<header class="header">
		<i class="icon-back" onclick="location='register.html'"></i>
		<span class="header_title">经纪人</span>
	</header>
	<div class="xx">必填项</div>

	<div class="content">
		<div class="content_img">
			<span class="img_text">添加头像</span>
			<input class="img_ipt" type="file" >
		</div>
		<div class="content_input">
			<div><input type="text" id="names" class="content_int" placeholder="姓名"></div>
			<div><input type="text" id="psd" class="content_int" placeholder="所属公司"></div>
			<div><input type="text" class="content_int" placeholder="联系方式"></div>
			<div class="cont"><input type="text" class="content_int" placeholder="擅长商圈"></div>
		</div>
		<div class="content_box">
			<span class="box_text">名片正面</span>
			<input class="img_ipt1" type="file" >
		</div>
	</div>
	<div class="xxx">选填项</div>
	<div class="content_two">
		<div class="content_box2">
			<span class="box_text2">全国经纪人证书</span>
			<input class="img_ipt2" type="file" >
		</div>
	</div>
	<div class="content_footer">
		<div class="content_foot">完成</div>
	</div>
</body>
<script src="../../public/js/login/jingjiren.js"></script>
</html>