<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport"
		  content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>地表最强 - 南京锋耀达网络科技有限公司</title>
	<meta name="keywords" content="南京锋耀达网络科技有限公司">
	<meta name="description" content="南京锋耀达网络科技有限公司成立于2015年，公司主要经营教育软件、多媒体技术、游戏开发等。">
	<link rel="stylesheet" href="//cdn.bootcss.com/normalize/5.0.0/normalize.min.css">
	<link rel="stylesheet" href="../../public/css/login/wancheng.css">
</head>
<body>
	<div class="box">
		<div class="box_text"><span class="box_top">注册完成，等待后天确认</span></div>
		<div class="box_text" onclick="location='login.html'"><span class="box_down">确认</span></div>
	</div>
</body>
</html>