<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1,
    maximum-scale=1,minimum-scale=1,user-scalable=no">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<title>项目名 - 公司名</title>
	<link rel="stylesheet" href="//cdn.bootcss.com/normalize/5.0.0/normalize.min.css">
	<link rel="stylesheet" href="../../public/css/msg/msg_demand.css">
</head>
<body>
	<header class="tab_box">
		<ul class="tab_bar">
			<li class="tab_bar-cell" onclick="msg_de()">消息</li>
			<li class="tab_bar-cell" onclick="msg_dema()">通知</li>
			<li class="tab_bar-cell active" onclick="msg_demand()">需求</li>
		</ul>
	</header>
	<!--1-->
	<article class="demand_cells">
		<section class="demand_cell">
			<header class="demand-title">
				<span class="d-t-name">一个租房要求</span>
				<i class="d-t-tag">租户</i>
			</header>
			<p class="demand-info">
				租房要求租房要求租房要求租房要求租房要求租房要求租房要求租房要求
			</p>
			<footer class="demand-footer">
				<em class="text-time"></em>
				<span class="btn-detail">了解详情</span>
				<em class="text-time">08/04/12:12</em>
			</footer>
		</section>
	</article>
	<!--2-->
	<article class="demand_cells">
		<section class="demand_cell">
			<header class="demand-title">
				<span class="d-t-name">一个租房要求</span>
				<i class="d-t-tag1">开发商</i>
			</header>
			<p class="demand-info">
				租房要求租房要求租房要求租房要求租房要求租房要求租房要求租房要求
			</p>
			<footer class="demand-footer">
				<em class="text-time"></em>
				<span class="btn-detail">了解详情</span>
				<em class="text-time">08/04/12:12</em>
			</footer>
		</section>
	</article>
	<!--3-->
	<article class="demand_cells">
		<section class="demand_cell">
			<header class="demand-title">
				<span class="d-t-name">一个租房要求</span>
				<i class="d-t-tag2">经纪人</i>
			</header>
			<p class="demand-info">
				租房要求租房要求租房要求租房要求租房要求租房要求租房要求租房要求
			</p>
			<footer class="demand-footer">
				<em class="text-time"></em>
				<span class="btn-detail">了解详情</span>
				<em class="text-time">08/04/12:12</em>
			</footer>
		</section>
	</article>
	<!--4-->
	<article class="demand_cells">
		<section class="demand_cell">
			<header class="demand-title">
				<span class="d-t-name">一个租房要求</span>
				<i class="d-t-tag3">招商</i>
			</header>
			<p class="demand-info">
				租房要求租房要求租房要求租房要求租房要求租房要求租房要求租房要求
			</p>
			<footer class="demand-footer">
				<em class="text-time"></em>
				<span class="btn-detail">了解详情</span>
				<em class="text-time">08/04/12:12</em>
			</footer>
		</section>
	</article>
	<footer class="bottom-list">
		<div class="bottom-column">
			<img src="../../public/img/msg/bottom_nor_icon04@2x.png">
			<p>首页</p >
		</div>
		<div class="bottom-column">
			<img src="../../public/img/msg/bottom_nor_icon03@2x.png" alt="">
			<p>预约</p >
		</div>
		<div class="bottom-column">
			<img class="add-img" src="../../public/img/msg/bottom_icon05@2x.png" alt="">
		</div>
		<div class="bottom-column">
			<img src="../../public/img/msg/bottom_press_icon02@2x.png" alt="">
			<p class="active">信息</p >
		</div>
		<div class="bottom-column">
			<img src="../../public/img/msg/bottom_nor_icon01@2x.png" alt="">
			<p>我</p >
		</div>
	</footer>
</body>
<script src="../../public/js/href.js"></script>
</html>