<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1,
    maximum-scale=1,minimum-scale=1,user-scalable=no">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<title>地表最强 - 南京锋耀达网络科技有限公司</title>
	<meta name="keywords" content="南京锋耀达网络科技有限公司">
	<meta name="description" content="南京锋耀达网络科技有限公司成立于2015年，公司主要经营教育软件、多媒体技术、游戏开发等。">
	<link rel="stylesheet" href="//cdn.bootcss.com/normalize/5.0.0/normalize.min.css">
	<link rel="stylesheet" href="../../public/css/msg/msg_de.css">
</head>
<body>
	<header class="tab_box">
		<ul class="tab_bar">
			<li class="tab_bar-cell active" onclick="msg_de()">消息</li>
			<li class="tab_bar-cell" onclick="msg_dema()">通知</li>
			<li class="tab_bar-cell" onclick="msg_demand()">需求</li>
		</ul>
	</header>
	<!--1-->
	<article class="demand_cells">
		<section class="demand_cell">
			<header class="demand-title">
				<span class="d-t-name">房源维护提示</span>
			</header>
			<p class="demand-info">
				您在本平台上传一处房源信息，现在有效期马上就要到了，请到“我发布的房源”中更新动态
				5天后该房源将自动下架。<br>
				地址：徐汇-龙华 科技大厦
			</p>
			<em class="text-time">08/04/12:12</em>
		</section>
	</article>
	<!--2-->
	<article class="demand_cells">
		<section class="demand_cell">
			<header class="demand-title">
				<span class="d-t-name">房源维护提示</span>
			</header>
			<p class="demand-info">
				您在本平台上传一处房源信息，现在有效期马上就要到了，请到“我发布的房源”中更新动态
				5天后该房源将自动下架。<br>
				地址：徐汇-龙华 科技大厦
			</p>
			<em class="text-time">08/04/12:12</em>
		</section>
	</article>
	<!--3-->
	<article class="demand_cells">
		<section class="demand_cell">
			<header class="demand-title">
				<span class="d-t-name">房源维护提示</span>
			</header>
			<p class="demand-info">
				您在本平台上传一处房源信息，现在有效期马上就要到了，请到“我发布的房源”中更新动态
				5天后该房源将自动下架。<br>
				地址：徐汇-龙华 科技大厦
			</p>
			<em class="text-time">08/04/12:12</em>
		</section>
	</article>
	<!--4-->
	<article class="demand_cells">
		<section class="demand_cell">
			<header class="demand-title">
				<span class="d-t-name">房源维护提示</span>
			</header>
			<p class="demand-info">
				您在本平台上传一处房源信息，现在有效期马上就要到了，请到“我发布的房源”中更新动态
				5天后该房源将自动下架。<br>
				地址：徐汇-龙华 科技大厦
			</p>
			<em class="text-time">08/04/12:12</em>
		</section>
	</article>
	<footer class="bottom-list">
		<div class="bottom-column" onclick="location='../index/index.html'">
			<img src="../../public/img/msg/bottom_nor_icon04@2x.png">
			<p>首页</p>
		</div>
		<div class="bottom-column" onclick="location='../reservation/index.html'">
			<img src="../../public/img/msg/bottom_nor_icon03@2x.png" alt="">
			<p>预约</p >
		</div>
		<div class="bottom-column">
			<img class="add-img" src="../../public/img/msg/bottom_icon05@2x.png" alt="">
		</div>
		<div class="bottom-column">
			<img src="../../public/img/msg/bottom_press_icon02@2x.png" alt="">
			<p class="active">信息</p >
		</div>
		<div class="bottom-column" onclick="location='../info/info_dengluhou.html'">
			<img src="../../public/img/msg/bottom_nor_icon01@2x.png" alt="">
			<p>我</p >
		</div>
	</footer>
</body>
<script src="../../public/js/href.js"></script>
</html>