* {
  outline: none;
}
body {
  background-color: #efefef;
  font-family: SimHei;
}
.header {
  height: 35px;
  background-color: #fff;
  line-height: 35px;
}
.header .icon-back {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  width: 35px;
  height: 35px;
  background: url("../../img/nav_back_icon@2x.png") no-repeat center;
  background-size: 12px 18px;
}
.header .header_title {
  display: inline-block;
  width: 100%;
  text-align: center;
}
.input_box {
  margin-top: 10px;
}
.input_box .int {
  width: 80%;
  border-radius: 5px;
  border: none;
  line-height: 35px;
  display: block;
  margin: 0 auto;
  margin-top: 10px;
}
.input_box2 {
  width: 80%;
  border-radius: 5px;
  margin: 0 auto;
  line-height: 40px;
  background-color: #fff;
  margin-top: 20px;
  text-align: center;
  color: #ea5404;
}
